.puppy_card {
  margin-top: 1em;
}

.new_puppy {
  height: 100%;
  width: 100%;
}

.p_image {
  margin-top: 1em;
  width: 15em;
  height: 15em;
  border: 1px solid black;
}

.p2_image {
  width: 33em;
  height: 25em;
  margin-left: 3em;
  border: 1px solid black;
  margin-top: 2em;
}
